@tailwind base;
@tailwind components;
@tailwind utilities;

/* 設立變數 */
:root {
  --bruce-primary: rgb(255, 8, 8);
  --bruce-title: 24px;
}

/* 建立統一背景 擴展基本樣式 */
@layer base { 
  body {
    @apply font-sans;
    background-image: linear-gradient(#9b9893 1px, transparent 0px),
      linear-gradient(90deg, #9b9893 1px, transparent 0px);
    background-size: 4em 4em;
    background-color: #efece7;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* @layer components { 組件寫法，如果可以還是建議獨立為一個cpmponent組件，而非寫在這裡
  .card {
    @apply w-full px-4 py-3 
  }
} */